.wrapper {
  .choice-wrapper {
    width: 100%;
    height: 100%;
    .choice__btns {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      span {
        background-color: $blueBlack;
        color: white;
        display: inline-block;
        border-radius: 10px;
        box-shadow: boxShadowtwo;
        background-size: cover;
        vertical-align: top;
        background-position: center center;
        display: inline-block;
        &:first-child {
          background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FdodsqX%2FbtqBsH6Cz6j%2FUlkvXSY6EAAlO2ToJGvNR1%2Fimg.gif");
        }
        &:last-child {
          background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fb1fD5R%2FbtqBuPBHeF3%2FGhsAQIMPjVNGsmfgHT8drK%2Fimg.png");
        }
      }
    }
  }
  .gif-wrapper,
  .scene-wrapper {
    &.hide {
      display: none;
    }
    &.show {
      padding: 20px;
      padding-bottom: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 3fr 1fr;
      border-radius: 10px;
    }
    .scene-box {
      padding: 20px;
      padding-left: 0px;
      grid-area: 2/ 1 / 3 / 2;
      overflow: scroll;
      display: grid;
      grid-template-rows: 1fr;
      grid-auto-flow: column;
      overflow: scroll;
      .best-scene,
      .best-gifs {
        box-shadow: boxShadowtwo;
        border-radius: 5px;
        background-size: cover;
        vertical-align: top;
        background-position: center center;
      }
    }
    .view-board {
      grid-area: 1/ 1 / 2 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      .veiw-ver {
        width: 100%;
        height: 100%;
        background-size: cover;
        vertical-align: top;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .view-left,
        .view-right {
          z-index: 2;
          display: block;
          height: 100%;
          width: 50%;
          opacity: 0.5;
        }
        .view-left {
          cursor: w-resize;
        }
        .view-right {
          cursor: e-resize;
        }
      }
    }
  }
}
.switch-btn {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: $boxShadow;
  border: none;
  border-radius: 20px;
}

@media (min-device-width: 501px) and (max-device-width: 5120px) {
  .wrapper {
    .choice-wrapper {
      .choice__btns {
        span {
          cursor: pointer;

          font-size: 30px;

          margin: 50px;

          &:first-child {
            padding: 100px 160px;
          }
          &:last-child {
            padding: 100px 140px;
          }
        }
      }
    }
    .gif-wrapper,
    .scene-wrapper {
      .scene-box {
        grid-gap: 15px;
        grid-auto-columns: 150px;
      }
    }
  }
  .switch-btn {
    padding: 10px 20px;
    top: 10%;
    left: 5%;
  }
}
@media (max-device-width: 500px) {
  .wrapper {
    .choice-wrapper {
      .choice__btns {
        span {
          font-size: 30px;
          margin: 30px;
          &:first-child {
            padding: 80px 120px;
          }
          &:last-child {
            padding: 80px 100px;
          }
        }
      }
    }
    .gif-wrapper,
    .scene-wrapper {
      .scene-box {
        grid-gap: 10px;
        grid-auto-columns: 70px;
      }
    }
  }
  .switch-btn {
    padding: 5px 10px;
    top: 17%;
    left: 3%;
    font-size: 10px;
  }
}
