.wrapper {
  .musics-ul {
    display: grid;
    grid-auto-flow: dense;
    text-transform: uppercase;
    .music-list {
      &.music-clicked {
        background-color: $blueBlack;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .music__text {
          color: white;
          display: inline-block;
        }
        .music__video {
          iframe {
            border-radius: 0px;
          }
        }
      }
      .music__text {
        display: flex;
        flex-direction: column;
      }
      .music__video {
        iframe {
          box-shadow: $boxShadow;
          border-radius: 10px;
          display: block;
        }
      }
    }
  }
}

@media (min-device-width: 501px) and (max-device-width: 5120px) {
  .wrapper {
    .musics-ul {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      grid-auto-rows: 250px;
      .music-list {
        &:hover {
          cursor: pointer;
        }
        &.music-clicked {
          border-radius: 10px;
          grid-area: span 2 / span 2;
          .music__text {
            font-size: 20px;
            margin-top: 17px;
            span {
              margin-right: 5px;
            }
          }
          .music__video {
            iframe {
              width: 750px;
              height: 420px;
            }
          }
        }
        .music__text {
          margin-bottom: 10px;
          font-size: 14px;
        }
        .music__video {
          iframe {
            margin-top: 5px;
            width: 375px;
            height: 210px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media (max-device-width: 500px) {
  .wrapper {
    .musics-ul {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      grid-auto-rows: 250px;
      .music-list {
        &.music-clicked {
          .music__text {
            font-size: 20px;
            margin-top: 10px;
            span {
              margin-right: 5px;
            }
          }
        }
        .music__text {
          margin-bottom: 10px;
          font-size: 14px;
        }
        .music__video {
          iframe {
            margin-top: 5px;
            width: 350px;
            height: 200px;
          }
        }
      }
    }
  }
}
