.notice-board {
  z-index: 999;
  position: absolute;
  background-image: linear-gradient(to left, #ece9e6, #ffffff);
  border-radius: 10px;
  box-shadow: $boxShadow;
  padding: 20px;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
  .notice-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr;
    height: 200px;
    .notice-btns {
      grid-area: 1 / 1/ 2/ 2;
      display: flex;
      justify-content: center;
      align-items: center;
      .xbtn {
        color: white;
        border-radius: 20px;
        background-color: $blueBlack;
        padding: 3px;
        font-size: 10px;
      }
    }
    .notice-title {
      grid-area: 1 / 2/ 2/ 3;
      text-align: center;
      word-break: nowrap;
      color: $blueBlack;
      border-radius: 8px;
      font-size: 17px;
    }
    .notice-column {
      width: 100%;
      color: $blueBlack;
      grid-area: 2/ 1/ 3/ 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .notice-msg {
        font-size: 30px;
        &.show {
          display: inline-block;
        }
        &.hide {
          display: none;
        }
      }
      .gamestartbtn {
        color: white;
        background-image: linear-gradient(to left, #7474bf, #348ac7);
        border-radius: 17px;
        box-shadow: $boxShadow;
        font-size: 15px;
        padding: 9px 17px;
      }
    }
  }
}

@media (min-device-width: 501px) and (max-device-width: 5120px) {
  .notice-board {
    margin-top: 20%;
    .notice-wrapper {
      width: 250px;
      .notice-btns {
        .xbtn {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .notice-column {
        .gamestartbtn {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-device-width: 500px) {
  .notice-board {
    margin-top: 28%;
    .notice-wrapper {
      width: 230px;
    }
  }
}
