extends layouts/main

block content
    .wrapper 
        .title Best Scene
        .slides__wrapper
            .slide
            .slide
            .slide
            .slide
            .slide
            .slide
            .slide
            .slide
            .slide
            .slide
