extends layouts/main

block content
    .wrapper#jsGame 
        .title Game
        .game__board
            span 1
            span 2
            span 3
            span 4
            span 5
            span 6
            span 7
            span 8
            span 9