extends layouts/main

block content
    .greeting#jsGreeting
        .greeting_text
            h2 Where's Miranda?
        .greeting_item
            h2 This is exciting, isn't it? Eh?
        .greeting_btns
            a.enterBtn(href=routes.game) Game
            a.enterBtn(href=routes.bestscene) Best Scene
            a.enterBtn(href=routes.music) Songs