extends layouts/main

block content
    .wrapper 
        .title Music
        .musics__wrapper
            .music#jsMusic
                .music__text Spice Girls | Stop
                iframe#jsIframe(src="https://www.youtube.com/embed/5JD6ejmlpa8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

            .music#jsMusic
                .music__text Roy Oribison | Oh, Pretty Woman 
                iframe#jsIframe(src="https://www.youtube.com/embed/Ikweq0THs88", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
           
            .music#jsMusic
                .music__text John Travolta & Olivia Newton John | Summer Nights (Grease)
                iframe#jsIframe(src="https://www.youtube.com/embed/ucU5c9ilIIc", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Spice Girls | Wannabe
                iframe#jsIframe(src="https://www.youtube.com/embed/gJLIiF15wjQ", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
           
            .music#jsMusic
                .music__text ELLA FITZGERALD | Hernando's Hideaway
                iframe#jsIframe(src="https://www.youtube.com/embed/HCwF_fgHvRU", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Dire Straits | Money For Nothing
                iframe#jsIframe(src="https://www.youtube.com/embed/wTP2RUD_cL0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Christina Aguilera | Beautiful 
                iframe#jsIframe(src="https://www.youtube.com/embed/eAfyFTzZDMM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text a-ha | Take On Me
                iframe#jsIframe(src="https://www.youtube.com/embed/djV11Xbc914", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Chicago | Hard To Say I'm Sorry 
                iframe#jsIframe(src="https://www.youtube.com/embed/wEwNcnklcsk", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text nina simone | my baby just cares for me
                iframe#jsIframe(src="https://www.youtube.com/embed/eYSbUOoq4Vg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Village People | In the Navy 
                iframe#jsIframe(src="https://www.youtube.com/embed/InBXu-iY7cw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Heather Small | Proud
                iframe#jsIframe(src="https://www.youtube.com/embed/OygsHbM1UCw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Berlin | Take My Breath Away 
                iframe#jsIframe(src="https://www.youtube.com/embed/Bx51eegLTY8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text The Nolans | I'm In the Mood for Dancing
                iframe#jsIframe(src="https://www.youtube.com/embed/XbAM2_6jKY0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Cliff Richard & The Shadows | Summer Holiday
                iframe#jsIframe(src="https://www.youtube.com/embed/-DxqdIA75sc", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Cliff Richard | Mistletoe and Wine
                iframe#jsIframe(src="https://www.youtube.com/embed/rZCEBibnRM8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Billy Joel | My Life
                iframe#jsIframe(src="https://www.youtube.com/embed/h3JFEfdK_Ls", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Cat Stevens | MORNING HAS BROKEN
                iframe#jsIframe(src="https://www.youtube.com/embed/3Rifby1tVE8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Beyoncé | Single Ladies
                iframe#jsIframe(src="https://www.youtube.com/embed/4m1EFMoRFvY", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Lady Gaga | Just Dance
                iframe#jsIframe(src="https://www.youtube.com/embed/2Abk1jAONjw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Adam & The Ants | Prince Charming
                iframe#jsIframe(src="https://www.youtube.com/embed/9p__WmyAE3g", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Billy Joel | Uptown Girl 
                iframe#jsIframe(src="https://www.youtube.com/embed/hCuMWrfXG4E", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Diana Ross | I'm Coming Out
                iframe#jsIframe(src="https://www.youtube.com/embed/PvJH3oUkFrg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text The Foundations | Build Me Up Buttercup
                iframe#jsIframe(src="https://www.youtube.com/embed/FvluBVhfGcw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text KT Tunstall | Suddenly I See 
                iframe#jsIframe(src="https://www.youtube.com/embed/9AEoUa0Hlso", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Take That | Back For Good
                iframe#jsIframe(src="https://www.youtube.com/embed/qw6fpEkeZxs", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text Eurythmics | Sisters Are Doin' It for Themselves
                iframe#jsIframe(src="https://www.youtube.com/embed/drGx7JkFSp4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music#jsMusic
                .music__text M People | Search for the Hero
                iframe#jsIframe(src="https://www.youtube.com/embed/ntuqTuc6HxM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)