extends layouts/main

block content
    .music-wrapper
        .title Music
        .musics-list
            .music-text Spice Girls <p/> | Stop
                .music-video
                    iframe(src="https://www.youtube.com/embed/5JD6ejmlpa8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

            .music-text Spice Girls <p/> | Wannabe
                .music-video
                    iframe(src="https://www.youtube.com/embed/gJLIiF15wjQ", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
           
            .music-text Roy Oribison <p/> | Oh, Pretty Woman 
                .music-video
                    iframe(src="https://www.youtube.com/embed/Ikweq0THs88", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
           
            .music-text John Travolta & Olivia Newton John <p/> | Summer Nights (Grease)
                .music-video
                    iframe(src="https://www.youtube.com/embed/ucU5c9ilIIc", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text ELLA FITZGERALD <p/> | Hernando's Hideaway
                .music-video
                    iframe(src="https://www.youtube.com/embed/HCwF_fgHvRU", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Dire Straits <p/> | Money For Nothing
                .music-video
                    iframe(src="https://www.youtube.com/embed/wTP2RUD_cL0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Cpistina Aguilera <p/> | Beautiful 
                .music-video
                    iframe(src="https://www.youtube.com/embed/eAfyFTzZDMM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text a-ha <p/> | Take On Me
                .music-video
                    iframe(src="https://www.youtube.com/embed/djV11Xbc914", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Chicago <p/> | Hard To Say I'm Sorry 
                .music-video
                    iframe(src="https://www.youtube.com/embed/wEwNcnklcsk", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text nina simone <p/> | my baby just cares for me
                .music-video
                    iframe(src="https://www.youtube.com/embed/eYSbUOoq4Vg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Village People <p/> | In the Navy 
                .music-video
                    iframe(src="https://www.youtube.com/embed/InBXu-iY7cw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text M People <p/> | Search for the Hero
                .music-video
                    iframe(src="https://www.youtube.com/embed/ntuqTuc6HxM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    
            .music-text Heather Small <p/> | Proud
                .music-video
                    iframe(src="https://www.youtube.com/embed/OygsHbM1UCw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Berlin <p/> | Take My Breath Away 
                .music-video
                    iframe(src="https://www.youtube.com/embed/Bx51eegLTY8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text The Nolans <p/> | I'm In the Mood for Dancing
                .music-video
                    iframe(src="https://www.youtube.com/embed/XbAM2_6jKY0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Cliff Richard & The Shadows <p/> | Summer Holiday
                .music-video
                    iframe(src="https://www.youtube.com/embed/-DxqdIA75sc", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Cliff Richard <p/> | Mistletoe and Wine
                .music-video
                    iframe(src="https://www.youtube.com/embed/rZCEBibnRM8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Billy Joel <p/> | My Life
                .music-video
                    iframe(src="https://www.youtube.com/embed/h3JFEfdK_Ls", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Cat Stevens <p/> | MORNING HAS BROKEN
                .music-video
                    iframe(src="https://www.youtube.com/embed/3Rifby1tVE8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Beyoncé <p/> | Single Ladies
                .music-video
                    iframe(src="https://www.youtube.com/embed/4m1EFMoRFvY", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Lady Gaga <p/> | Just Dance
                .music-video
                    iframe(src="https://www.youtube.com/embed/2Abk1jAONjw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Adam & The Ants <p/> | Prince Charming
                .music-video
                    iframe(src="https://www.youtube.com/embed/9p__WmyAE3g", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Billy Joel <p/> | Uptown Girl 
                .music-video
                    iframe(src="https://www.youtube.com/embed/hCuMWrfXG4E", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Diana Ross <p/> | I'm Coming Out
                .music-video
                    iframe(src="https://www.youtube.com/embed/PvJH3oUkFrg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text The Foundations <p/> | Build Me Up Buttercup
                .music-video
                    iframe(src="https://www.youtube.com/embed/FvluBVhfGcw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text KT Tunstall <p/> | Suddenly I See 
                .music-video
                    iframe(src="https://www.youtube.com/embed/9AEoUa0Hlso", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Take That <p/> | Back For Good
                .music-video
                    iframe(src="https://www.youtube.com/embed/qw6fpEkeZxs", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-text Eurythmics <p/> | Sisters Are Doin' It for Themselves
                .music-video
                    iframe(src="https://www.youtube.com/embed/drGx7JkFSp4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            