extends layouts/main

block content
    .wrapper#musicLoad
        a.title(href=routes.music) Music
        .musics-ul
            .music-list
                .music__text 
                        span Spice Girls
                        span | Stop
                .music__video
                    iframe(src="https://www.youtube.com/embed/5JD6ejmlpa8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

            .music-list
                .music__text 
                        span Spice Girls
                        span | Wannabe
                .music__video
                    iframe(src="https://www.youtube.com/embed/gJLIiF15wjQ", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
           
            .music-list
                .music__text 
                        span Roy Oribison
                        span | Oh, Pretty Woman 
                .music__video
                    iframe(src="https://www.youtube.com/embed/Ikweq0THs88", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
           
            .music-list
                .music__text 
                        span John Travolta & Olivia Newton John
                        span | Summer Nights (Grease)
                .music__video
                    iframe(src="https://www.youtube.com/embed/ucU5c9ilIIc", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span ELLA FITZGERALD
                        span | Hernando's Hideaway
                .music__video
                    iframe(src="https://www.youtube.com/embed/HCwF_fgHvRU", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Dire Straits
                        span | Money For Nothing
                .music__video
                    iframe(src="https://www.youtube.com/embed/wTP2RUD_cL0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Cpistina Aguilera
                        span | Beautiful 
                .music__video
                    iframe(src="https://www.youtube.com/embed/eAfyFTzZDMM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span a-ha
                        span | Take On Me
                .music__video
                    iframe(src="https://www.youtube.com/embed/djV11Xbc914", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Chicago
                        span | Hard To Say I'm Sorry 
                .music__video
                    iframe(src="https://www.youtube.com/embed/wEwNcnklcsk", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span nina simone
                        span | my baby just cares for me
                .music__video
                    iframe(src="https://www.youtube.com/embed/eYSbUOoq4Vg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Village People
                        span | In the Navy 
                .music__video
                    iframe(src="https://www.youtube.com/embed/InBXu-iY7cw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span M People
                        span | Search for the Hero
                .music__video
                    iframe(src="https://www.youtube.com/embed/ntuqTuc6HxM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    
            .music-list
                .music__text 
                        span Heather Small
                        span | Proud
                .music__video
                    iframe(src="https://www.youtube.com/embed/OygsHbM1UCw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Berlin
                        span | Take My Breath Away 
                .music__video
                    iframe(src="https://www.youtube.com/embed/Bx51eegLTY8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span The Nolans
                        span | I'm In the Mood for Dancing
                .music__video
                    iframe(src="https://www.youtube.com/embed/XbAM2_6jKY0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Cliff Richard & The Shadows
                        span | Summer Holiday
                .music__video
                    iframe(src="https://www.youtube.com/embed/JNFvApgNpO0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Cliff Richard
                        span | Mistletoe and Wine
                .music__video
                    iframe(src="https://www.youtube.com/embed/rZCEBibnRM8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Billy Joel
                        span | My Life
                .music__video
                    iframe(src="https://www.youtube.com/embed/h3JFEfdK_Ls", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Cat Stevens
                        span | MORNING HAS BROKEN
                .music__video
                    iframe(src="https://www.youtube.com/embed/3Rifby1tVE8", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Beyoncé
                        span | Single Ladies
                .music__video
                    iframe(src="https://www.youtube.com/embed/4m1EFMoRFvY", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Lady Gaga
                        span | Just Dance
                .music__video
                    iframe(src="https://www.youtube.com/embed/2Abk1jAONjw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Adam & The Ants
                        span | Prince Charming
                .music__video
                    iframe(src="https://www.youtube.com/embed/9p__WmyAE3g", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Billy Joel
                        span | Uptown Girl 
                .music__video
                    iframe(src="https://www.youtube.com/embed/hCuMWrfXG4E", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Diana Ross
                        span | I'm Coming Out
                .music__video
                    iframe(src="https://www.youtube.com/embed/PvJH3oUkFrg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span The Foundations
                        span | Build Me Up Buttercup
                .music__video
                    iframe(src="https://www.youtube.com/embed/FvluBVhfGcw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span KT Tunstall
                        span | Suddenly I See 
                .music__video
                    iframe(src="https://www.youtube.com/embed/9AEoUa0Hlso", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Take That
                        span | Back For Good
                .music__video
                    iframe(src="https://www.youtube.com/embed/qw6fpEkeZxs", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            
            .music-list
                .music__text 
                        span Eurythmics
                        span | Sisters Are Doin' It for Themselves
                .music__video
                    iframe(src="https://www.youtube.com/embed/drGx7JkFSp4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)