header.header
    .header__wrapper
        .header__column
            a(href=routes.home) Home
        .header__column
            a(href=routes.game) Game
        .header__column
            a(href=routes.music) Songs
        .header__column
            a(href=routes.bestscene) Best Scene